/* Variables */
:root{
    /* --name: value */
    --white: #fff;
    --black: #000;
    --grey-color: #EFEFEF;
    --main-color: #66C05D;
    --main-text-color: #333333;
    --main-font-family: "Roboto", sans-serif;
    --main-font-weight: 14px;
}
/* Container */
.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Same codes */

/* Html and Body */
html,
body{
    background-color: var(--bg-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    line-height: 1;
}
/* Sections */