/* Variables */
:root{
    /* --name: value */
    --white: #fff;
    --black: #000;
    --bg-color: #E5E5E5;
    --grey-color: #EFEFEF;
    --main-color: #66C05D;
    --main-text-color: #333333;
    --main-font-family: "Roboto", sans-serif;
    --main-font-weight: 14px;
}
*{
    box-sizing: border-box;
}
/* Container */
.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Same codes */

/* Html and Body */
html,
body{
    background-color: var(--white);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    line-height: 1;
}
.btn {
    display: inline-block;
    border-radius: 40px;
    border: 2px solid var(--main-color);
    background-color: var(--white);
    padding: 12px 26px;
    line-height: calc(16.41 / 14 * 100%);
    color: var(--black);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
/* Sections */

/* HEADER SECTION */

/* HEADER TOP LINE */
.header {
    background-color: var(--bg-color);
    height: 50px;
}
.header__container {
}
.header__top-line {
    padding: 17px 0px 16px 0px;
}
.header__top-nav {
}
.header__top-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__top-item {

}
.header__top-item:not(:last-child){
    margin: 0px 30px 0px 0px;
}
.header__top-link {
    text-decoration: none;
    color: var(--main-text-color);
    line-height: calc(16 / 14 * 100%);
    transition: all 0.2s ease-in-out;
}
.header__top-link:hover{
    color: var(--main-color);
}
.header__top-link:active{
    color: var(--main-color);
    opacity: 0.8;
}
/* SECOND LINE */
.header__second-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36 * 100%);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.header__logo-img {
    margin: 0px 20px 0px 0px;
}
.header__logo-text {

}
.header__phone-number {
    margin: 0px 40px 0px auto;
}
.header__second-line-btn {
    
}
.header__second-line-btn:hover{
    background-color: var(--main-color);
    color: var(--white);
}
.header__second-line-btn:active{
    background-color: var(--main-color);
    color: var(--white);
    opacity: 0.8;
}
/* BOTTOM LINE */
.header__bottom-line {
    padding: 30px 0px;
}
.header__bottom-nav {
}
.header__bottom-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__bottom-item {

}
.header__bottom-item:not(:last-child){
    margin: 0px 40px 0px 0px;
}
.header__bottom-link {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    line-height: calc(18.75 / 16 * 100%);
}